.la {
  text-align: left;
}

.input-container {
  display: grid;
  grid-template-rows: 1fr auto;
  row-gap: 1rem;
}

.codeArea {
  resize: none;
  background-color: rgba(0, 0, 0, 0);
  width: 100%;
  border: none;
  outline: none;
  overflow: height;
}

.btnU {
  background-image: linear-gradient(62deg, #1f8cf9 0%, #e0c3fc 100%);
  border: none;
  border-radius: 25px;
  box-shadow: 0 1px 0 rgb(112, 114, 49);
  color: #fff;
  display: inline-block;
  outline: none;
  padding: 7px 20px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.4s;
}

.btnU:hover {
  background-image: linear-gradient(62deg, #0673e0 0%, #e0c3fc 100%);
}

.btnU:active {
  opacity: 0.8;
  box-shadow: none;
  top: 1px;
}
